
{% set shipment_poviders = frappe.get_all("Shipment Providers", fields=['provider_name', 'name'])[::-1]%}
{% set payment_methods = frappe.get_all("Payment Methods", fields=['payment_method_name', 'name'])[::-1]%}

<div class="mb-3 frappe-card p-5" data-section="shipping-address">
	<div class="dropdown">
		<label class="address-header" for="cars">{{ _("Choose Shipment Type") }}</label>
		<br>
		<select class="dropdown-sh btn col-6" name="shipment-provider" id="shipment-provider">
			{% for provider in shipment_poviders %}
				<option value="{{ provider.get('name') }}">{{ _(provider.get('provider_name')) }}</option>
			{% endfor%}
		</select>
	</div>
	<br>
	<div class="dropdown">
		<label class="address-header" for="cars">{{ _("Choose Payment Type") }}</label>
		<br>
		<select class="dropdown-sh btn col-6" name="payment-type" id="payment-type">
			{% for method in payment_methods %}
				<option value="{{ method.get('name') }}">{{ _(method.get('payment_method_name')) }}</option>
			{% endfor%}
		</select>
	</div>
</div>

<style>
	
	/* Style the label */
	.address-header {
		font-weight: bold;
	}


	/* Style the other options */
	select.dropdown-sh option {
		padding: 13px;
		
		font-size: 16px;
	}
</style>