/* csslint ignore:start */
{% if homepage.hero_image %}

.hero-image {
	background-size: cover;
	padding: 10rem 0;
}
{% endif %}
/* csslint ignore:end */
html{
	width: 100%;
}
#home-carousel-banner{
	background: url("files/home-slider-bg.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
	
}

.home-carousel-baner-container{
	padding: 50px 20px 50px 20px;
	display: flex;
	width: 100%;
	margin: 0 auto;
	margin-top: 72px;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.slider-controls,
.carousel-block {
	padding: 0;
	margin: 0;
}

.carousel-block {
	height: 440px;
	border-radius: 10px;
	
}

.home-carousel-slider {
	background-color: #4381BF;
	width: 675px;
	max-width: 800px;
}

.home-carousel-slide,
.carousel-banner-content,
.carousel-banner-content{
	height: 100%;
	min-height: 440px;
}

.home-carousel-track{
	height: calc(100% - 63px);
}

.home-carousel-slide{
	position: relative;
}

.vertical-sep{
	width: 15px;
}

.vertical-sep-30{
	width: 30px;
}

.carousel-banner {
	background-color: #F5C35D;
	width: 462px;
	max-width: 550px;
}

.carousel-banner-content{
	position: relative;
}

/* .carousel-image{
	position: absolute;
	bottom: 0;
	right: 0;
} */

.slider-controls{
	position: relative;
	height: 63px;
	display: flex;
	justify-content: flex-end;
	z-index: 10;
}

.home-carousel-slider .slider-controls{
	padding: 0 24px 20px 24px;
}

/* .image-wrapper {
	width: 50%;
	height: 400px;
	position: relative;
} */

.home-carousel-slide{
	display: flex;
	flex-direction: row;
}

.home-carousel-slide .carousel-image{
	position: absolute;
	right: 0;
}

.banner-image{
	position: absolute;
	right: 0;
	bottom: 10px;
}

/* .carousel-slide .carousel-image{
	width: 47.5%;
	max-width: 321px;
} */



.carousel-banner-content .carousel-image{
	width: 226px;
}

.slider-control{
	width: 28px;
	height: 28px;
	background-color: #FFFFFF;
	border: 1px solid #DDDDDD;
	border-radius: 3px;
	margin-left: 6px;
}
.carousel-slide-text,
.carousel-banner-text{
	padding: 70px 0 0 40px;
	/* width: 50%; */
	position: relative;
	z-index: 1;
}
.carousel-banner-text{
	width: auto;
	min-width: 50%;
}
.carousel-text-title{
	font-weight: 700;
	font-size: 30px;
	line-height: 44px;
}

.carousel-slide-text-title{
	max-width: 312px;
	color: #FFFFFF;
}

.carousel-banner-text-title{
	max-width: 340px;
	color: #3D3E43;
}

.carousel-text-description {
	padding-top: 24px;
	font-size: 16px;
	font-weight: 400;
	line-height: 26px;
}

.carousel-banner-text-description{
	max-width: 278px;
	color: #3D3E43;
}

.carousel-slide-text-description{
	max-width: 233px;
	color: #FFFFFF;
}

.carousel-slide-button,
.carousel-banner-button{
	position: absolute;
	width: 130px;
	height: 40px;
	color: #3D3E43;
	font-size: 14px;
	background-color: #FFFFFF;
	border-radius: 5px;
	left: 30px;
	bottom: 85px;
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 10;
}

#home-product-circles{
	width: 80%;
	margin: 0 auto;
	margin-top: 70px;
}

.categories-circle-wrapper{
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	width: 100%;
}

#home-packages{
	/* max-width: ; */
	/* margin: 0 auto; */
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 80%;
	margin: 0 auto;
	margin-top: 40px;
}

.section-title{
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	width: 100%;
}

.section-title h2{
	margin: 0;
	padding: 0;
}

.horizontal-sep{
	height: 30px;
	width: 100%;
}

.packages-container{
	margin-top: 20px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	flex-wrap: wrap;
	width: 100%;
}

.package-card{
	margin: 15px;
	height: 270px;
	/* width: calc(50% - 15px); */
	width: 100%;
	/* min-width: 400px; */
	background: #F8F8F8;
	display: flex;
	justify-content: space-evenly;
	/* flex-wrap: nowrap; */
}

.package-card-text{
	height: 100%;
	width: 50%;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
}

.packages-card-text-title{
	color: #333333;
	font-size: 22px;
	font-weight: 600;
}

.packages-card-text-description{
	color: #333333;
	font-size: 20px;
	font-weight: 700;
}

.packages-card-button{
	width: 140px;
	height: 40px;
	background: #FCC125;
	border-radius: 5px;
	border-width: 1px;
	border-color: #e9b72e;
	display: flex;
	justify-content: center;
	align-items: center;
	color: #333333;
	font-weight: 600;
	font-size: 14px;
}

.img-wrapper{
	width: 50%;
	position: relative;
	margin: 26px 43px 23px 0;
	display: flex;
	justify-content: center;
	align-items: center;
}

.packages-card-image{
	position: absolute;
	width: 100%;
	/* height: 100%; */
	object-fit: contain;
	padding-top: 10px;
	background-color: #FFFFFF;
}

.img-cover{
	object-fit: cover;
}

#home-publications{
	width: 80%;
	margin: 0 auto;
	margin-top: 70px;
	display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.blog-card-img-wrapper{
	height: 290px;
	/* background: #DDDDDD; */
	position: relative;
}
.blog-card-img-wrapper,
.blog-card-img-wrapper img{
	z-index: 0;
}

.cards-wrapper{
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	flex-wrap: wrap;
	width: 88%;
}

.blog-card{
	width: 80%;
	min-height: 228px;
	border: 1px solid #E1E1E1;
	border-radius: 5px;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	margin: 0 auto;
	margin-top: -80px;
	align-items: center;
	padding: 22px 20px 22px 20px;
	z-index: 1;
	background: #FFFFFF;
	min-height: 245px;
}

.blog-card-title{
	margin: 0;
	line-height: 25px;
	font-size: 18px;
	color: #333333;
	font-weight: 500;
	text-align: center;
}

.blog-card-date{
	margin: 0;
	line-height: 22px;
	font-size: 14px;
	color: #777777;
	font-weight: 400;
}

.blog-card-description{
	margin: 0;
	line-height: 25px;
	font-size: 14px;
	color: #333333;
	font-weight: 400;
	text-align: center;
	display: -webkit-box;
	overflow : hidden;
	text-overflow: ellipsis;
	-webkit-line-clamp: 4;
	-webkit-box-orient: vertical; 
}

.blog-card-button{
	margin-top: 12px;
	height: 40px;
	background: #f3f3f3;
	border-radius: 5px;
	border: 0px;
	line-height: 22px;
	font-size: 14px;
	color: #333333;
	font-weight: 500;
	text-align: center;
	padding:  0 40px 0 40px;
}

#feedback{
	width: 80%;
	margin: 0 auto;
	margin-top: 70px;
	display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
	margin-bottom: 70px;
}

.feedback-card-wrapper{
	width: 100%;
	height: 319px;
	min-width: 250px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	border: 1px solid #E1E1E1;
	margin: 15px;
}

.feedback-cards{
	width: 100%;
}

.feedback-card{
	min-height: 84px;
}

.feedback-author{
	width: 100px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.feedback-img-wrapper{
	position: relative;
	width: 100%;
	height: 100%;
}

.feedback-card-title{
	margin: 0;
	line-height: 24px;
	font-size: 14px;
	color: #333333;
	font-weight: 500;
	text-align: center;
	width: 200px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.feedback-card-description{
	line-height: 22px;
	font-size: 14px;
	color: #606A74;
	font-weight: 400;
	text-align: center;
	display: -webkit-box;
	overflow : hidden;
	text-overflow: ellipsis;
	-webkit-line-clamp: 3;
	-webkit-box-orient: vertical; 
}

.feedback-info{
	width: 100%;
	display: flex;
	flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: baseline;
}
/* @media (max-width: 1280px) {
	#home-carousel-banner{
		margin-top: 72px;
		flex-direction: column;
		padding: 10px;
	}

	
	.vertical-sep{
		width: 100%;
		height: 15px;
	}
} */

.macro-carousel-container {
	position: relative;
	width: 100%;
  }
  
  .macro-carousel-track-container {
	width: 100%;
	overflow: hidden;
	/* border: 2px solid red; */
  }
  
  .macro-carousel-track-container .macro-carousel-track {
	height: 100%;
	/* width would be 100% times the number of the images used in the slider */
	/* width: 200%; */
	display: flex;
	transition: 500ms ease-out;
  }
  
  .macro-carousel-action {
	position: absolute;
	height: 100%;
	width: 120%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	left: -10%;
	color: #ff7300;
  }
  
  .macro-carousel-action .slide-btn {
	cursor: pointer;
	z-index: 100;
  }
  
  .macro-carousel-indicator {
	margin-top: 20px;
	display: flex;
	list-style: none;
	justify-content: center;
  }

  .macro-carousel-slide{
	flex-direction: row;
    display: flex;
	width: 100%;
	justify-content: center;
	align-items: center;
  }

  .publication-link{
	text-decoration: none;
	color: #333333;
	padding: 0 10px 0 10px;
  }

  .macro-carousel-indicator .macro-indicator {
	height: 15px;
	width: 15px;
	border-radius: 50%;
	background: rgba(0, 0, 0, 0.5);
	margin: 0 7px;
	cursor: pointer;
  }
  
  .carousel-indicator .macro-indicator:hover {
	background: rgba(0, 0, 0, 0.7);
  }
  
  .carousel-indicator .macro-indicator.active {
	background: rgba(0, 0, 0, 0.7);
  }

  .icon-md{
	width: 16px;
  }

	@media (max-width: 1380px){
		.home-carousel-slider{
			/* margin-bottom: 20px; */
		}
		.home-carousel-slider, .carousel-banner{
			width: inherit;
		}
		.carousel-banner{
			max-width: 800px;
		}
		.categories-circle-wrapper object{
			width: inherit;
			max-width: 50%;
		}
		.macro-carousel-slide{
			flex-direction: row;
		}
		.blog-card-button{
			padding-left: 20px;
			padding-right: 20px;
		}
	}

	@media (max-width: 991.98px){
		.home-carousel-baner-container{
			flex-direction: column;
		}
		.vertical-sep{
			width: 0;
		}
		.home-carousel-slider{
			margin-bottom: 20px;
		}
		.home-carousel-slider, .carousel-banner{
			width: inherit;
		}
		.categories-circle-wrapper object{
			width: inherit;
		}
		.macro-carousel-slide{
			flex-direction: column;
		}
		.blog-card-button{
			padding-left: 20px;
			padding-right: 20px;
		}
	}
